body {
  font-family: "Lora", serif;
}

img {
  width: 100%;
}

.hover img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 769px) {
  .hover:hover img {
    opacity: 0.7;
  }
}

@media screen and (max-width: 768px) {
  .hamburger {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 50px;
    right: 0;
    z-index: 3;
    cursor: pointer;
  }
  .hamburger span {
    width: calc(100% - 10px);
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    left: 5px;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .hamburger span:nth-child(3) {
    bottom: 10px;
  }
  .hamburger.active span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(45deg);
            transform: translateY(10px) rotate(45deg);
  }
  .hamburger.active span:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
}

header {
  position: fixed;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media screen and (max-width: 768px) {
  header {
    width: 100%;
    height: 100vh;
    padding: 5.3333333333vw;
    top: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-color: #000;
    left: 100%;
  }
  header.active {
    left: 0;
  }
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  header nav {
    gap: 5.3333333333vw;
  }
}
header nav a {
  display: inline-block;
  position: relative;
  text-align: center;
}
@media screen and (max-width: 768px) {
  header nav a {
    font-size: 20px;
  }
}
header nav a::before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -1px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 769px) {
  header nav a:hover::before {
    width: 100%;
  }
}
header nav a.current::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -1px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
}

section {
  min-height: 100vh;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding: 100px 0;
}
@media screen and (max-width: 768px) {
  section {
    padding: 18.6666666667vw 2.6666666667vw;
  }
}
section:not(.album)::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
section::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

#introduce {
  background: url("/images/bg1.jpg") no-repeat center center/cover;
}

#time::after {
  background: url("/images/bg2.jpg") no-repeat center center/cover;
}
@media screen and (max-width: 768px) {
  #time::after {
    background-position-x: 70%;
  }
}

#address::after {
  background: url("/images/bg3.jpg") no-repeat center center/cover;
}

.page_title {
  font-size: 70px;
  color: #fff;
  position: relative;
}
@media screen and (max-width: 768px) {
  .page_title {
    font-size: 10.6666666667vw;
  }
}
.page_title::before {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.heart {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("/images/bg_heart.png") no-repeat center center/200px;
  margin-top: 70px;
}
@media screen and (max-width: 768px) {
  .heart {
    height: 66.6666666667vw;
    max-height: 400px;
    background-size: 150px auto;
  }
}
.heart .hao {
  max-width: 402px;
}
@media screen and (max-width: 768px) {
  .heart .hao {
    max-width: 53.8666666667vw;
  }
}
.heart .trang {
  max-width: 616px;
}
@media screen and (max-width: 768px) {
  .heart .trang {
    max-width: 83.4666666667vw;
  }
}

.clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  margin-bottom: 180px;
  position: relative;
}
.clock figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}
.clock figure img {
  max-width: 158px;
}
@media screen and (max-width: 768px) {
  .clock figure img {
    max-width: 21.3333333333vw;
  }
}
.clock figcaption {
  font-size: 30px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .clock figcaption {
    font-size: 18px;
  }
}

.lich_tay {
  font-size: 50px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .lich_tay {
    font-size: 26px;
  }
}

.lich_am {
  font-size: 38px;
  color: #fff;
  font-style: italic;
}
@media screen and (max-width: 768px) {
  .lich_am {
    font-size: 20px;
  }
}

.address_title {
  font-size: 50px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .address_title {
    font-size: 36px;
  }
}
.address_title + p {
  text-align: center;
  font-size: 30px;
  color: #fff;
  margin: 15px 0 35px;
}
@media screen and (max-width: 768px) {
  .address_title + p {
    font-size: 18px;
  }
}

#maps {
  width: 100vw;
  height: 350px;
}
@media screen and (max-width: 768px) {
  #maps {
    padding: 0 2.6666666667vw;
  }
}

.album .inner {
  max-width: 1440px;
  margin: 0 auto;
}
.album_item {
  margin-top: 20px;
}
.album_title {
  font-size: 20px;
}
.album_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
.album_list a {
  width: calc(25% - 8px);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
}
@media screen and (max-width: 768px) {
  .album_list a {
    width: calc(50% - 6px);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.flower {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("/images/18.png") no-repeat 0 0/cover;
  -webkit-animation: rotate 10s infinite;
          animation: rotate 10s infinite;
}

.tree {
  position: absolute;
}

.time_4 {
  max-width: 130px;
  bottom: 0;
}

.time_16 {
  top: -10px;
  left: 0;
  max-width: 130px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.time_9 {
  top: 0;
  right: 0;
  max-width: 100px;
}

.time_11 {
  bottom: 0;
  left: 0;
  max-width: 130px;
}

.camera {
  top: 16vw;
  right: -10px;
  max-width: 80px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.camera_2 {
  bottom: 0;
  left: 0;
  max-width: 80px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.time_3 {
  bottom: 0;
  right: 0;
  max-width: 80px;
}

.soluubut::before {
  background-color: rgba(206, 229, 237, 0.2) !important;
}
.soluubut_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .soluubut_inner {
    display: block;
    padding: 10px;
  }
}
.soluubut_bank {
  max-width: 250px;
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .soluubut_bank {
    margin: 20px 0 0;
    max-width: none;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}
.form label {
  margin-bottom: 10px;
}
.form input,
.form textarea {
  padding: 7px 10px;
  border-radius: 7px;
  border: 1px solid #cee5ed;
}
.form input:focus,
.form textarea:focus {
  outline: none;
}
.form input[type=submit] {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #9dd6eb;
  color: #fff;
}
.form input[type=submit]:hover {
  background-color: #75cbeb;
}

#modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  display: none;
}
#modal::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: -1;
}
#modal .modal-inner {
  font-size: 20px;
  padding: 30px 15px;
  background-color: #fff;
  max-width: 320px;
  position: relative;
}
#modal .modal-name {
  font-size: 22px;
  font-weight: bold;
}
#modal .modal-close {
  position: absolute;
  top: -60px;
  right: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="50px" height="50px"><path d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z"/></svg>') no-repeat 0 0;
}

.inner {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}

table {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
}
table th, table td {
  border-top: 1px solid #ccc;
  padding: 10px;
}
table th {
  font-weight: normal;
}

.btn-delete {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
}
.btn-delete:hover {
  background-color: #ccc;
}/*# sourceMappingURL=style.css.map */